ALPACA_API_KEY=
ALPACA_API_SECRET=

# For the admin user of the Postgres database
POSTGRES_USER=
POSTGRES_PASSWORD=

# For the operational service accounts
APP_DB_USER=
APP_DB_PASSWORD=

# For the Debezium connector to capture changes from the Postgres database
DEBEZIUM_DB_USER=
DEBEZIUM_DB_PASSWORD=
