ALPACA_API_KEY=
ALPACA_API_SECRET=

# fernet key - run this to generate the key once: python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
FERNET=

# For the operational service accounts
APP_DB_USER=
APP_DB_PASSWORD=
APP_DB_NAME=localhost
APP_DB_HOST=
APP_DB_PORT=5432

# For the Debezium connector to capture changes from the Postgres database
DEBEZIUM_DB_USER=
DEBEZIUM_DB_PASSWORD=

# For the FE integration - run this to generate: python -c 'import secrets; print(secrets.token_hex(32))'
SESSION_SECRET_KEY=

# ClickHouse
CH_HOST=localhost
CH_PORT=8123
CH_USER=default
CH_PASSWORD=
CH_DATABASE=tradelens
